$fap-version: "1";

$app-font-name: "appfont" !default;
$app-font-path: "../fonts";

@font-face {
  font-family: $app-font-name;
  src: url('#{$app-font-path}/#{$app-font-name}.eot?v=#{$fap-version}');
  src: url('#{$app-font-path}/#{$app-font-name}.eot?#iefix&v=#{$fap-version}') format('embedded-opentype'),
  url('#{$app-font-path}/#{$app-font-name}.woff?v=#{$fap-version}') format('woff'),
  url('#{$app-font-path}/#{$app-font-name}.ttf?v=#{$fap-version}') format('truetype'),
  url('#{$app-font-path}/#{$app-font-name}.svg?v=#{$fap-version}#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


.fap {
  display: inline-block;
  font-family: $app-font-name ! important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fap-linkedin                        { &:before { content: "\e100"; } }
.fap-twitter                         { &:before { content: "\e101"; } }
.fap-github                          { &:before { content: "\e102"; } }
.fap-mail                            { &:before { content: "\e103"; } }
.fap-instagram                       { &:before { content: "\e104"; } }

.fap-search4                         { &:before { content: "\e110"; } }
.fap-play                            { &:before { content: "\e111"; } }
.fap-pause                           { &:before { content: "\e112"; } }

.fap-posts                           { &:before { content: "\e120"; } }
.fap-experiments                     { &:before { content: "\e121"; } }
.fap-cv                              { &:before { content: "\e122"; } }
.fap-posts2                          { &:before { content: "\e123"; } }
.fap-archive                         { &:before { content: "\e124"; } }
.fap-tags                            { &:before { content: "\e125"; } }
.fap-best                            { &:before { content: "\e126"; } }

.fap-react                           { &:before { content: "\e130"; } }

.fap-star                            { &:before { content: "\e140"; } }
.fap-watch                           { &:before { content: "\e141"; } }
.fap-fork                            { &:before { content: "\e142"; } }