section {
    ul.menu {
        background-color: #fff;
        border: 1px solid #e1e8ed;
        margin-bottom: -1px;
        border-radius: 5px 5px 0 0;
        list-style: none;
        padding: 0;
        display: list-item;
        margin-top:31px;
        &.without-search {
            @media screen and (min-width: 639px) {
            margin-top:70px;
            }           
        }
        li.item {
            display: inline-block;
            cursor: default;
            font-size: 14px;
            text-decoration: none;
            text-align: center;
            padding: 15px 15px 12px;
            a {
                color: #66757f;
                &.active {
                    color: #4183c4;
                }
            }
            .fap {
                font-size: 40px;
            }
        }
    }
}